
.container {
	z-index: -1;
	/** A rellenar **/ 
}

h1 {
	/** A rellenar **/ 
}

p {
	color: #ccc;
	line-height: 1.5;
	/** A rellenar **/ 
}

/** Ten en cuenta que el último párrafo es más estrecho que los anteriores **/ 

/** Faltan cosas por rellenar, que lo sepas **/ 