body {
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    color: #FFF;
    text-align: center;
    line-height: 24px;
}
h1 {
    color: #000;
    font-weight: normal;
    padding: 10px;
}

#wrapper {
    position: absolute;
    background-color: #FFF;
    width: 50%;
    height: 70%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
    border: 2px solid black;
}

#red {
    background-color: #900;
    width: 20%;
    height: 20%;
    position: relative;
}

#green {
    background-color: #090;
    width: 20%;
    height: 20%;
    position: relative;
    left: 80%;
}

#blue {
    background-color: #00F;
    width: 20%;
    height: 20%;
    position: relative;
}

#purple {
    background-color: #63C;
    width: 20%;
    height: 20%;
    position: relative;
    left: 80%;
}

#footer {
    background-color: #666;
    position: relative;
    width: 60%;
    height: 20%;
    left: 20%;
}