h1 {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    color: #000;
    font-weight: normal;
    padding: 10px;
}

.red {
    background-color: #900;
}

.green {
    background-color: #090;
}

.blue {
    background-color: #00F;
}

.purple {
    background-color: #63C;
}

.grey {
    background-color: #666;
}

.container {
    background-color: #FFF;
    width: 50vw; /* ponemos este width 50vw, para no hacerlo en el container*/
    height: 70%;
    min-height: 400px;
    margin: auto;
    border: 2px solid black;
}

/* SOLUCIÓN */
.container {
    width: 50%;
    display: flex;
    flex-direction: row; /* Ponemos el row, para empezar a verlo como bloques */
    flex-wrap: wrap; /*El wrap nos permite modificarlo en base al width*/
    justify-content: space-around; /* espacio alredor, es un margin left y margin right */
}
.item {
    height: 20vh;
    width: 20vw;
    margin-bottom: 2vw;
}

.item.grey{
    width: 60%;
    justify-content: center;

}
/* importante diferenciar cuando es vh y cuando vh
.item {
    height: 10vw;
    width: 20vw;
}
.item.grey{
    width: 100%;
    height: 5vw;
}
*/