
/* PASO 1 */
body{ 
    font-family: Tahoma, Arial, sans-serif;
    background-image: url(../DAW2-DIW-Pt1/images/foto.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-y: 90%;
    background-position-x: 90%;

}

#container {
    margin: 0;
}

/* PASO 2 - ubicación de los bloques */
#header {
    float: left;
    width: 100%;
}
#content {
        float: left;
    width: 80%;
}
#menu{ 
    float: left;
    width: 20%;

}
#footer { 
        float: left;
    width: 100%;
}

/* PASO 3 - Tipos y tamaños de letra */
body {
}
#header h1 {
}
#header h2 {
}
#content h2{ 
    color: #004957;
}
#content h2 span{
    color: #212121;
} 
#content p{
}
#menu {
    color: #ff6a28;

}
#footer h2{ 
    color: #004957;
}
#footer h2 span{ 
    color: #212121;
}
#footer p { 
    float: left;
    width: 100%;
    background-color: #004957;
}

/* PASO 4 - Menú */

#menu ul li {
    list-style: none;
    border-left: 5px solid #ff6a28;
    margin-bottom: 4px;
    
}
#menu ul li a { 
    color: #004957;
    margin-left: 4px;
}
#menu ul li a:hover { 
    color: #ff6a28;
}
#menu ul { 
    padding: 0;
    text-transform: uppercase;
}
#menu h3 {
    text-transform: uppercase;
}

/* PASO 5 */

#photos{
    font-size: 0;
    width: 40%;
}
#photo1{
    margin: 20px;
    margin-bottom: 0;
    float: left;
    width: 130px;
    height: 110px;
    background-image: url(../DAW2-DIW-Pt1/images/foto1.png);
    background-size: cover;
}

#photo2{
    margin: 20px;
    float: left;
    width: 130px;
    height: 115px;
    background-image: url(../DAW2-DIW-Pt1/images/foto2.png);
    background-size: cover;
}
#photo3{
    margin: 20px;
    float: left;
    width: 130px;
    height: 125px;
    background-size: cover;
    background-image: url(../DAW2-DIW-Pt1/images/foto3.png);

}
#photo4{
    margin: 40px;
    margin-top: 0;
    float: left;
    width: 130px;
    height: 130px;
    background-size: cover;
        background-image: url(../DAW2-DIW-Pt1/images/foto4.png);

}
#photo5{
    margin: 20px;
    margin-top: 0;
    float: left;
    width: 130px;
    height: 120px;
    background-size: cover;
    background-image: url(../DAW2-DIW-Pt1/images/foto5.png);

}
#photo6{ 
    margin: 20px;
    margin-top: 0;
    float: left;
    width: 130px;
    height: 150px;
    background-size: cover;
    background-image: url(../DAW2-DIW-Pt1/images/foto6.png);

}


#photo1:hover{
    background-image: url(../DAW2-DIW-Pt1/images/foto1b.png);
}
#photo2:hover{
    background-image: url(../DAW2-DIW-Pt1/images/foto2b.png);
}
#photo3:hover{
    background-image: url(../DAW2-DIW-Pt1/images/foto3b.png);
}
#photo4:hover{
    background-image: url(../DAW2-DIW-Pt1/images/foto4b.png);
}
#photo5:hover{
    background-image: url(../DAW2-DIW-Pt1/images/foto5b.png);
}
#photo6:hover{
    background-image: url(../DAW2-DIW-Pt1/images/foto6b.png);
}
