.colores{
    border: 2px, solid black;
    width: 50vw;
    height: 10%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.pinturitas{
    border: 2px, solid black;
    width: 50vw;
    height: 70%;
    margin: auto;
    min-height: 500px;
    background-color: white;
}

td {
    border: 1px solid black;
    width: 30vw;
    height: 4vh;
}

.item{
    height: 10vh;
    width: 10vw;
}

.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.grey{
    background-color: grey;
}
.white{
    background-color: white;
}